@{
    ViewBag.Title = "Home Page";
}

<h1>Hello!</h1>

<input type="button" value="Click ME!" id="click-me" class="btn btn-danger" />

<div id="welcome-messages"></div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/SignalR.js"></script>
}
