@{
    ViewBag.Title = "Home Page";
}

<h1>Hello!</h1>
<div id="welcome-messages"></div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/SignalR.js"></script>
}
